#image{
   position: relative;
   height:100vh;
   background:green;
}
#marco{
   position: relative;
   height:100vh;
   background:black;
   background-size: 100% 100%;
   left:-2%;
   z-index:10;   
}
#locationphoto{
   width:200px;
   height:200px;
   background:black;
   background-size: 100% 100%;
}
#window{
  position: absolute;
  background-image:url("../images/ventanilla.png");
  background-size: 100% 100%;
  top:0;
  left:0;
  z-index:20;
  width:100%;
  height:100vh;
  padding:0;
  margin:0;
}
#gamemenu{
  position: absolute;
  z-index:30; 
}